.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.desktopMenu {
    flex: 1;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
}


.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-grow: 1;
}

.navbar h1 {
    margin-top: 10px;
    margin-left: 15px;
    font-size: 2rem;
    color: #081051;
    width: auto;
    min-width: 220px;
    font-weight: 400;
}

.nav-link {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    padding: 5px;
    font-size: 1rem;
    color: #081051;
    font-weight: 600;
    transform: scale(1);
    transition: transform .3s ease-in-out;
    cursor: pointer;
}

.nav-link:hover {
    transform: scale(1.1);
    box-shadow: #4b4a4a 1px 1px 1px;
    border-radius: 5px;
    background-color: rgba(243, 237, 242, 0.553);


}

.navbar li {
    display: inline;
    margin-top: 10px;
    padding: 0px 10px 5px 15px;
    margin-left: 15px;

}

.desktopIconBtn {
    cursor: pointer;
    min-width: 90px;
    width: auto;
    margin-right: 20px;
    border-radius: 8px;
    height: 35px;
    padding: 5px;
    border: none;
    color: #081051;
    background-color: #D2A8E2;
    font-weight: 400;
    margin-top: 10px;

}

.desktopIconBtn:hover {
    box-shadow: #292828 1px 1px 1px;
    transform: scale(1.1);
}

.desktopIcon {
    margin-bottom: 5px;
    margin-left: 5px;
}

/*Hamburger menu*/
.hamburger {
    display: none;
}


.mobileIconContainer {
    display: none;
}


.mobileMenu,
.hamburger-menu {
    display: none;
}

@media screen and (min-width: 360px) and (max-width: 780px) {
    .navbar h1 {
        margin-top: 10px;
        width: 250px;
        font-size: 1.625rem;
    }

    .desktopMenu {
        display: none;
    }

    .hamburger {
        cursor: pointer;
        display: block;
        margin-top: 13px;
        width: auto;
    }

    /* to keep the hamburger menu in the flex flow*/

    .hamburger-menu {
        background: none;
        border: none;
        display: flex;
        margin-right: 20px;
        position: relative;
        width: 30px;

    }


    .menu.MobileLinks {
        background-color: rgba(255, 255, 255, 0.932);
        border-radius: 6px;
        height: 180px;
        margin-top: 30px;
        position: absolute;
        right: 0.1em;
        text-align: center;
        top: 13px;
        width: 220px;
        z-index: 999;
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
    }

    /*links inside hamburger menu*/

    .menu li {
        display: inline-block;
        font-size: 19px;
        font-weight: 400;
        padding: 0px 7px 0px 7px;

    }


    .navContainer {
        justify-content: space-between;
        width: 80%;
    }

    .desktopIconBtn {
        display: none;

    }

    .mobileIconBtn {
        min-width: 90px;
        border-radius: 8px;
        margin-left: 20px;
        width: auto;
        height: 35px;
        background-color: #D2A8E2;
        color: #081051;
        border: none;
        display: block;
        margin-top: 10px;
    }


    .mobileIcon {
        height: 17px;
        width: 17px;
        color: #081051;
        margin-left: 5px;
    }


}
