.Signup {
    display: flex;
    transform: translate(50%, 7%);
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100%;
    min-height: 900px;
    width: 50%;
    margin-bottom: 70px;
    background-color: rgba(255, 255, 255, 0.413);
    border-radius: 7px;
}

#signUpSection button {
    margin-top: 10px;
    height: 30px;
    width: 70px;
    font-size: 0.9rem;
    margin-top: 20px;
    background-color: #D2A8E2;
    color: #081051;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.failedSignUpBtn {
    height: 40px;
    width: 70px;
    background-color: white;
    color: #081051;
    border: solid 2px #D2A8E2;
    border-radius: 5px;
}

.failedSignUpBtn:hover {
    border: none;
    background: #D2A8E2;
    box-shadow: #191919 1px 1px 1px;
}

#signUpSection button:hover {
    background-color: #cd9ae3f0;
    border: none;
    box-shadow: #191919 1px 1px 1px;
}


#signUpSection form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    min-height: 700px;
    width: 380px;

}

.errorPopUp {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 7px;
    height: 200px;
    width: 400px;
}

#signUpSection input {
    width: 200px;
    background-color: rgba(197, 195, 230, 0.326);
    border-radius: 3px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#signUpSection label {
    color: #081051;
    padding-bottom: 5px;
}

#signUpSection {
    padding-top: 30px;
}

#signUpSection h1 {
    padding-bottom: 20px;
    color: #081051;
}

.signUpTextContainer {
    margin-top: 30px;
    height: 10px;
    width: 180px;

}

.signUpTextContainer p {
    font-size: 0.9rem;
    color: #081051;
}

.signUpText {
    font-size: 0.9rem;
    color: #081051;
    cursor: pointer;
    text-decoration: underline;
}

.imageSection img {
    height: 120px;
    width: 120px;
}


.confirmPassword-Error {
    color: rgb(134, 19, 48);
    font-size: 13px;
    margin: 0;
    height: auto;
    width: 200px;
}


@media screen and (max-width: 407px) and (min-width: 360px) {
    .Signup {
        width: 74%;
        transform: translate(20%, 5%);
        justify-content: center;
        align-items: center;

    }

    #signUpSection form {
        justify-content: center;
        align-items: center;
        min-height: 850px;
        width: auto;

    }

    #signUpSection h1 {
        text-align: center;
    }

    #signUpSection label {
        align-self: center;
        padding-top: 10px;

    }

    #signUpSection button {
        width: 90px;
        height: 40px;
        font-size: 1rem;
    }

    .imageSection {
        height: 200px;


    }

}

@media screen and (max-width: 500px) and (min-width: 407px) {
    .Signup {
        width: 70%;
        transform: translate(20%, 5%);
    }

    #signUpSection form {
        height: 720px;
        width: auto;
        justify-content: center;
        align-items: center;

    }


    #signUpSection h1 {
        text-align: center;
    }

    #signUpSection label {
        align-self: center;
        padding-top: 5px;

    }

    #signUpSection button {
        width: 90px;
        height: 40px;
        font-size: 1rem;
    }


    .imageSection {
        height: 200px;

    }
}

@media screen and (max-width: 646px) and (min-width:500px) {
    .Signup {
        width: 70%;
        transform: translate(20%, 5%);
    }

    #signUpSection form {
        height: 720px;
        width: auto;

    }

    #signUpSection h1 {
        text-align: center;
    }

    #signUpSection label {
        align-self: flex-start;
        padding-top: 10px;

    }

    #signUpSection button {
        height: 40px;
        width: 75px;
    }


    .signUpTextContainer {
        width: 200px;
    }


    .imageSection {
        height: 200px;

    }
}

@media screen and (max-width:762px) and (min-width:646px) {
    .Signup {
        width: 70%;
        transform: translate(20%, 5%);
    }

    #signUpSection button {
        height: 35px;
        width: 75px;
    }



}

@media screen and (max-width: 869px) and (min-width:762px) {

    .Signup {
        width: 60%;
        transform: translate(30%, 5%);
    }

    #signUpSection label {
        align-self: flex-start;

    }

    #signUpSection button {
        height: 35px;
        width: 75px;
        font-size: 1rem;
    }


}


@media screen and (max-width: 924px) and (min-width:869px) {

    .Signup {
        width: 60%;
        transform: translate(30%, 5%);
    }


}
